.partners {
    margin: 100px 0;
    text-align: center;
    .content {      
        h1{
            text-align: center;
            padding: 0 80px;
            color: $white;
            span {
                color: $yellow;
            }
        }
       
    }
    .slide_logo{
        margin-top: 30px;
        .logo_box {
            a {
                svg{

                    padding: 10px;
                }
            }
            
        }
        p{
            color: $white;
            margin-top: 20px;
        }
    }
}