.blog {
    margin-top: 100px;
    .content { 
        margin-bottom: 40px;    
        h1{
            text-align: center;
            padding: 0 70px;
            color: $white;
            font-size: 42px;
            font-weight: 700;
            line-height: normal;
            padding: 0 10px;
            span {
                color: $yellow;
            }
        }
        p {
            text-align: left;
            font-size: $text_font;
            font-weight: 400;
            line-height: 30px;
            color: $white;
            text-align: center;
        }
    }

    .slide_blog{
        position: relative;

        
        .prevArrow {
            position: absolute;
            bottom: -50px;
            left: 45%;
            z-index: 1;
            cursor: pointer;
        }
        .nextArrow {
            position: absolute;
            bottom: -50px;
            right: 45%;
            z-index: 1;
            cursor: pointer;
        }

        .slick-slide {
            div {
                margin: 0px 10px;
                .card_bottom {
                    justify-content: space-between;
                    display: flex;
                    color: $white;
                }
            }
            .slide_box {
               background-color: $box_bg;
               padding: 20px;
               border-radius: 16px;
    
               img {
                width: 100%;
                object-fit: cover;
                border-radius: 16px;
               }
    
               h3 {
                margin-top: 24px;
                text-align: left;
                font-size: 24px;
                font-weight: 500;
                color: $white;
                padding-right: 40px;
            }
    
            
            }  
        }
        
    }

}